@import url("https://fonts.googleapis.com/css2?family=Days+One&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Kalam:wght@300;400;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

 .container {
 height: 100vh;
 width: 100%;
 background-color: rgb(17, 17, 17);
 font-family: "Kanit", sans-serif;
  margin: auto;
  padding: 20px;
} 


.logo a {
  font-size: 24px;
  text-decoration: none;
} 

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 28px;
  height: 3px;
  background-color: #f8e9e9;
  margin: 3px 0;
  transition: 0.3s;
}

.nav-links.open {
  display: block;
}

@media (max-width: 600px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 2rem;
    background-color:#ff004f;
    box-shadow: 0 2px 5px rgb(228, 224, 224);
    z-index: 5;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    cursor: pointer;
  }
.bg22{
  height: 500px;
  width: 400px;
  z-index: 0;
  position: static;
}

 
  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
  .devleop{
    z-index: 4;
  }
  .wep{
    z-index: 3;
    position: static;
  }
  .container{
    width: 100%;
  }

}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul li {
  display: inline;
  padding: 30px;
  padding-top: 20px;
}

ul a {
  color: white;
  padding-top: 10px;
}
.logo a {
   padding: 40px;
   font-size: xx-large;
   color: aliceblue;
   font-weight: bolder;
}
span {
  font-size: xx-large;
  color: rgb(231, 16, 116);
  font-weight: bolder;
}

ul li {
  display: inline;
  padding: 30px;
  padding-top: 20px;
}

ul a {
  color: white;
  padding-top: 10px;
  cursor: pointer;
}
a:hover {
  color: rgba(221, 27, 50, 0.871);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid rgba(224, 21, 21, 0.871); 

}
 
.devleop{
  margin-top: 200px;
  font-size: x-large;
  margin-left: 50px;
  z-index: 4;
  color: rgba(240, 240, 242, 0.795);
  
}

.wep {
  color: rgb(188, 181, 196);
  margin: 10px;
  font-size: xx-large;
  margin-left: 50px;
  position: relative;
  display: inline;
}

.name {
  color: rgb(255, 0, 140);
  font-size: xx-large;
  font-weight: 700;
}
.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 50px;
}

